.apps {
  display: flex;
  gap: 10px;
}

.app {
  background-color: bisque;
  padding: 1rem;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app:hover {
  border: 1px solid salmon;
}
